doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/login.css')
    script(src='https://kit.fontawesome.com/ef9d457797.js' crossorigin="anonymous")
  body
    block content
    block scripts